<!-- app/views/home/_credential.html.erb -->
<div class="credential">
	<div class="timeSpan"><%= render :partial => 'date_range', :locals => { :start_date => credential.start_date, :end_date => credential.end_date } %></div>
	<div>
		<span><%= position %></span>
		<span class="subposition"><%= if not credential.department.nil? then credential.department end %></span>
	</div>
	<div><span class="organization"><%= credential.organization %></span>, <%= credential.location.to_s %></div>
	<%= yield %>
</div>