.credential
  .timeSpan= render partial: 'date_range', locals: { start_date: credential.start_date, end_date: credential.end_date }
  %div
    %span= position
    %span.subposition= if not credential.department.nil? then credential.department end
  %div
    %span.organization= credential.organization.name
    - if not credential.location.nil? then
      %span> &nbsp;&mdash;&nbsp;
      %span.location= credential.location
  = yield