<div class="credential">
	<div class="timeSpan"><%= render :partial => 'date_range', :locals => { :start_date => edu.start_date, :end_date => edu.end_date } %></div>
	<div><span class="organization"><%= edu.organization.name %></span>&nbsp;-&nbsp;<%= edu.location.to_s %></div>
	<div>
		<% edu.degrees.each do |degree| %>
		<div><%= degree.name %>, <%= degree.category %></div>
		<% end %>
	</div>
</div>
