<!-- app/views/update/_job_credential.html.erb -->
<div class="credential">
	<div class="timeSpan"><%= render :partial => 'date_range', :locals => { :start_date => job.start_date, :end_date => job.end_date } %></div>
	<div>
		<span><%= job.position %></span>
		<span style="font-style: italic; color: #777"><%= if not job.department.nil? then job.department end %></span>
	</div>
	<div><span style="font-weight: bold;"><%= job.organization %></span>, <%= job.location.to_s %></div>
	<% if job.responsibilities != nil then %>
	<ul>
		<% job.responsibilities.each do |point| %>
			<li><%= point %></li>
		<% end %>
	</ul>
	<% end %>
</div>