.credential{ 'aria-role' => 'listitem' }
  %aside{ 'aria-role' => 'generic' }
    .time-span #{year_month(job.start_date)}&nbsp;&mdash;&nbsp;#{date_or_present(job.end_date)}
    .job-location= job.location
  .job-title= job.position
  .job-organization= job.organization.name
  - if job.department
    .job-department= job.department
  %ul.job-responsibilities
    - job.responsibilities.each do |task|
      %li= task.text
