%main
  %section{ 'aria-role' => 'region', 'aria-labelledby' => 'section-blog' }
    %h1#section-blog.section-header= t 'blog_section.title'
    .content
      %p= t 'blog_section.description'
      - blog_posts = sample_blog_posts
      - unless blog_posts.empty?
        %h3= t 'blog_section.sample_posts'
        - blog_posts.first(3).map do |post|
          .blog-entry
            %h5
              %a{ href: post[:link] }= raw post[:title]
            %p= raw post[:description]
            %a{ href: post[:uri], 'aria-label' => "Continue reading post titled #{post[:title]}" } Continue reading...

      %a{ href: 'https://www.technowizardry.net/author/adam-jacques?mtm_campaign=resume_website' }= t 'blog_section.blog_name'
