%main
  %section{ 'aria-role' => 'region', 'aria-labelledby' => 'section-blog' }
    %h1#section-blog.section-header= t 'blog_section.title'
    .content
      %p= t 'blog_section.description'
      - blog_posts = sample_blog_posts
      - unless blog_posts.empty?
        %h3= t 'blog_section.sample_posts'
        - blog_posts.first(3).map do |post|
          .blog-entry
            %h5
              %a{ href: post[:link] }= raw post[:title]
            %p= raw post[:description]
            %a{ href: post[:uri], 'aria-label' => "Continue reading post titled #{post[:title]}" } Continue reading...

      %a{ href: 'https://www.technowizardry.net/author/adam-jacques?mtm_campaign=resume_website' }= t 'blog_section.blog_name'

  %section{ 'aria-role' => 'region', 'aria-labelledby' => 'section-jobs' }
    %h1#section-jobs.section-header= t 'resume_section.jobs'
    .content{ 'aria-role' => 'list' }= render partial: 'job_credential', collection: @resume.jobs, as: :job
  %section{ 'aria-role' => 'region', 'aria-labelledby' => 'section-skills' }
    %h1#section-skills.section-header= t 'resume_section.skills'
    .content.skills-container
      = render partial: 'skill', collection: @resume.key_points, as: :key_point
  %section{ 'aria-role' => 'region', 'aria-labelledby' => 'section-education' }
    %h1#section-education.section-header= t 'resume_section.education'
    .content= render partial: 'edu_credential', collection: @resume.education, as: :edu
