%main
  %section
    %h1.section-header= t 'resume_section.jobs'
    .content= render partial: 'job_credential', collection: @resume.jobs, as: :job
  %section
    %h1.section-header= t 'resume_section.skills'
    .content.skills-container
      = render partial: 'skill', collection: @resume.key_points, as: :key_point
  %section
    %h1.section-header= t 'resume_section.education'
    .content= render partial: 'edu_credential', collection: @resume.education, as: :edu
