#body-container
  #contents
    = form_tag send_mail_path do
      = label_tag :name, 'Your Name'
      %br/
      = text_field_tag :name
      %br/
      = label_tag :email, 'Email'
      %br/
      = text_field_tag :email
      %br/
      = label_tag :subject, 'Subject'
      %br/
      = text_field_tag :subject
      %br/
      = label_tag :message, 'Message'
      %br/
      = text_area_tag :message, '', :style => "width: 750px; height: 180px; max-width: 750px"
      %br/
      = submit_tag 'Send', :style => "margin-left: auto; width: 159px;"
