!!!
%html
  %head
    %title= full_name
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'application-screen', media: 'screen'
    = yield :head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "Content-type"}/
    %meta{:content => "true", :name => "HandheldFriendly"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.5", :name => "viewport"}/
    %meta{:content => "noarchive", :name => "robots"}/
    - if Rails.env.production? and Rails.application.appconfig.analytics.present?
      = render :partial => 'layouts/analytics'
      %script{src: Rails.application.appconfig.analytics['tracker_script'], defer: true, async: true}
  %body
    #total.centered
      #header
        .name
          .headname= full_name
          .subname.noprint online r&eacute;sum&eacute;
          - if Rails.env.development? then
            .subname.noprint DEVELOPMENT ENVIRONMENT
        #menu-container.noprint
          .menu
            %ul
              %li
                = link_to index_path do
                  R&eacute;sum&eacute;
              %li
                = link_to contact_me_path do
                  Contact Me
      #body-container
        = yield
    #footer
      \&copy; #{l Time.now, :format => :year}
      = full_name
