<!DOCTYPE html>
<html>
<head>
	<title>Adam Jacques</title>
	<%= stylesheet_link_tag 'application', :media => 'all' %>
	<%= stylesheet_link_tag 'application-screen', :media => 'screen' %>
	<%= if content_for?(:head) then yield :head end %>
	<meta content="text/html;charset=UTF-8" http-equiv="Content-type" />
	<meta content="true" name="HandheldFriendly" />
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.5" name="viewport" />
	<meta content="noarchive" name="robots" />
	<script type="text/javascript">
		var _paq = _paq || [];
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		_paq.push(['setTrackerUrl', 'http://insecure.adrensoftware.com/piwik/piwik.php']);
		_paq.push(['setSiteId', '2']);
	</script>
	<script type="text/javascript" src="//insecure.adrensoftware.com/piwik/piwik.js" defer="true"></script>
</head>
<body>
	<div id="total" class="centered">
		<div id="header">
			<div class="name">
				<div class="headname">Adam Jacques</div>
				<div class="subname noprint">online r&eacute;sum&eacute;</div>
				<% if Rails.env.development? then %><div class="subname noprint">DEVELOPMENT ENVIRONMENT</div><% end %>
			</div>
			<div id="menu-container" class="noprint">
				<div class="menu">
					<ul>
						<li><%= link_to url_for(:controller => 'home', :action => 'resume') do %>R&eacute;sum&eacute;<% end %></li>
						<li><%= link_to url_for(:controller => 'contact', :action => 'create_mail') do %>Contact Me<% end %></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="body-container">
			<%= yield %>
		</div>
	</div>
	<div id="footer">&copy; <%= l Time.now, :format => :year %> Adam Jacques</div>
</body>
</html>
