!!!
%html
  %head
    %title= t('user_name')
    = stylesheet_link_tag 'application', :media => 'all'
    = stylesheet_link_tag 'application-screen', :media => 'screen'
    = yield :head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "Content-type"}/
    %meta{:content => "true", :name => "HandheldFriendly"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.5", :name => "viewport"}/
    %meta{:content => "noarchive", :name => "robots"}/
  %body
    #total.centered
      #header
        .name
          .headname= t('user_name')
          .subname.noprint online r&eacute;sum&eacute;
          - if Rails.env.development? then
            .subname.noprint DEVELOPMENT ENVIRONMENT
        #menu-container.noprint
          .menu
            %ul
              %li
                = link_to url_for(:controller => 'home', :action => 'resume') do
                  R&eacute;sum&eacute;
              %li
                = link_to url_for(:controller => 'contact', :action => 'create_mail') do
                  Contact Me
      #body-container
        = yield
    = if Rails.env.production? then            |
      render :partial => 'layouts/ga_tracking' |
      end                                      |
    #footer
      \&copy; #{l Time.now, :format => :year}
      = t('user_name')
