!!!
%html{ lang: I18n.locale }
  %head
    %title= full_name
    - if Rails.env.production?
      %link{ href: stylesheet_path('application'), media: 'screen', rel: 'stylesheet' }
      %script{ async: true, defer: true, src: javascript_path('application') }
      %script{ async: true, defer: true, src: asset_pack_path('application.js') }
    - else
      = javascript_include_tag 'application', defer: true
      = stylesheet_link_tag 'application', media: 'all'
      = javascript_pack_tag 'application'
    - if content_for? :head
      = yield :head
    %meta{ charset: 'utf-8' }
    %meta{ content: 'IE=edge', http: { equiv: 'X-UA-Compatible' } }
    %meta{ content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0', name: 'viewport' }
    %meta{ content: 'noarchive', name: 'robots' }
    %meta{ content: I18n.locale, http: { equiv: 'Content-Language' } }
    - if Rails.application.config.respond_to? :analytics
      %meta{ content: Rails.application.config.analytics['beacon_url'], name: 'beacon_url' }
      %meta{ content: Rails.application.config.analytics['site_id'], name: 'beacon_site_id' }
    - if Sentry.initialized?
      %meta{ content: ENV['SENTRY_DSN'], name: 'sentry_dsn' }
      - if Sentry.get_current_scope.get_transaction.present?
        %meta{ content: Sentry.get_current_scope.get_transaction.sampled.to_s, name: 'is_sampled' }
  %body
    %video#main-video{ autoplay: true, loop: true, muted: true, playsinline: true }
      %source{ type: 'video/mp4' }
    = render partial: 'layouts/name_banner'
    = yield
    %footer.centered &copy; #{Time.now.year} #{full_name}
