!!!
%html
  %head
    %title= full_name
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application', async: true
    = yield :head
    %meta{ charset: 'utf-8' }
    %meta{ content: 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }
    %meta{ content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0', name: 'viewport' }
    %meta{ content: 'true', name: 'HandheldFriendly' }
    %meta{ content: 'noarchive', name: 'robots' }
    - if Rails.application.config.respond_to? :analytics
      %meta{ content: Rails.application.config.analytics['beacon_url'], name: 'beacon_url' }
      %meta{ content: Rails.application.config.analytics['site_id'], name: 'beacon_site_id' }
  %body
    #total.centered
      #header
        .name
          .headname= full_name
          .subname.noprint= t 'header.online_resume'
          - if Rails.env.development? then
            .subname.noprint DEVELOPMENT ENVIRONMENT
        #menu-container.noprint
          .menu
            %ul
              %li
                = link_to t('links.resume'), index_path
              %li
                = link_to t('links.contact_me'), contact_me_path
      #body-container
        = yield
    #footer &copy; #{Time.now.year} #{full_name}
